---

// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="paddingLess">
    <div class="relative overflow-hidden">
     
      <video
        autoplay
        muted
        loop
        playsinline
        class="object-cover object-center w-full h-[60dvh] lg:h-[72dvh] bg-base-50"
      >
        <source src="/bgvideo2.mp4" type="video/mp4" />
      </video>
      <div
        aria-hidden="true"
        class="absolute inset-0 pointer-events-none bg-accent-950/70"
      >
      </div>
    </div>
  </Wrapper>
  <Wrapper variant="standard" class="py-12">
    <div class="grid grid-cols-1 lg:grid-cols-3 lg:items-end gap-y-4">
      <Text
        tag="h1"
        variant="displayXL"
        class="text-accent-800 font-display text-balance lg:col-span-2"
      >
        值得信賴的專業法律顧問
      </Text>
      <Text
        tag="p"
        variant="textSM"
        class="text-base-600 leading-relaxed border-accent-500"
      >
        翰霖法律事務所深耕法律服務逾十年，為企業與個人客戶處理各類複雜法律挑戰。我們以精準的策略與不變的承諾，全力守護您的權益。
      </Text>
    </div>
  </Wrapper>
</section>
