@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwind-scrollbar-hide";
@theme {
  /* Typography */
  --font-display: "Newsreader", serif;
  --font-sans: "Inter", sans-serif;
  /* Colors */
  /* Accent */
  --color-accent-50: oklch(0.965 0.008 206.94);
  --color-accent-100: oklch(0.932 0.016 206.34);
  --color-accent-200: oklch(0.865 0.032 206.32);
  --color-accent-300: oklch(0.797 0.048 206.32);
  --color-accent-400: oklch(0.726 0.062 207.91);
  --color-accent-500: oklch(0.659 0.075 208.01);
  --color-accent-600: oklch(0.56 0.063 208.28);
  --color-accent-700: oklch(0.459 0.05 206.68);
  --color-accent-800: oklch(0.339 0.036 206.98);
  --color-accent-900: oklch(0.223 0.02 207.18);
  --color-accent-950: oklch(0.166 0.011 207);
  --color-secondary-50: oklch(0.972 0.008 73.73);
  --color-secondary-100: oklch(0.938 0.018 73.07);
  --color-secondary-200: oklch(0.878 0.034 73.16);
  --color-secondary-300: oklch(0.807 0.055 73.29);
  --color-secondary-400: oklch(0.735 0.074 71.71);
  --color-secondary-500: oklch(0.66 0.096 71.14);
  --color-secondary-600: oklch(0.565 0.083 70.35);
  --color-secondary-700: oklch(0.464 0.065 71.76);
  --color-secondary-800: oklch(0.357 0.048 71.47);
  --color-secondary-900: oklch(0.229 0.026 73.96);
  --color-secondary-950: oklch(0.163 0.015 72.95);
  /* Base */
   --color-base-50: oklch(0.974 0.005 117.64);
  --color-base-100: oklch(0.947 0.008 114.05);
  --color-base-200: oklch(0.852 0.007 115.54);
  --color-base-300: oklch(0.768 0.007 115.59);
  --color-base-400: oklch(0.681 0.006 117.8);
  --color-base-500: oklch(0.585 0.005 106.38);
  --color-base-600: oklch(0.499 0.003 106.32);
  --color-base-700: oklch(0.405 0.003 106.39);
  --color-base-800: oklch(0.319 0.004 128.44);
  --color-base-900: oklch(0.225 0.002 145.3);
  --color-base-950: oklch(0.177 0.002 106.5);
}
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}
