:root {
    --shiki-color-text: #24292e;
    --shiki-color-background: transparent;
    --shiki-token-constant: #005cc5;
    --shiki-token-string: #032f62;
    --shiki-token-comment: #6a737d;
    --shiki-token-keyword: #d73a49;
    --shiki-token-parameter: #24292e;
    --shiki-token-function: #6f42c1;
    --shiki-token-string-expression: #032f62;
    --shiki-token-punctuation: #24292e;
}

.dark {
    --shiki-color-text: #e1e4e8;
    --shiki-color-background: transparent;
    --shiki-token-constant: #79b8ff;
    --shiki-token-string: #9ecbff;
    --shiki-token-comment: #6a737d;
    --shiki-token-keyword: #f97583;
    --shiki-token-parameter: #e1e4e8;
    --shiki-token-function: #b392f0;
    --shiki-token-string-expression: #9ecbff;
    --shiki-token-punctuation: #e1e4e8;
}