---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import CasesCard from "@/components/cases/CasesCard.astro";
// Content
import { getCollection } from "astro:content";
const allCases = await getCollection("cases");
allCases.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA; // Most recent first
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pb-12 pt-48">
      <div class="max-w-xl">
        <Text
          tag="h1"
          variant="displayLG"
          class="text-accent-800 font-display text-balance"
        >
          Cases
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="text-base-600 leading-relaxed border-accent-500 mt-2"
        >
          Explore a selection of our recent cases to see how 翰霖法律事務所
          delivers results for clients facing complex legal challenges. Each
          case reflects our commitment to strategic advocacy, thorough
          preparation, and achieving outcomes that matter. Discover the stories
          behind our work and the impact we make across industries.
        </Text>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 mt-12 lg:mt-24 gap-8">
        {allCases.map((caseItem) => <CasesCard post={caseItem} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
