---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout title="找不到頁面">
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="max-w-sm mx-auto text-center">
        <Text
          tag="h1"
          variant="display2XL"
          class="dark:text-white text-base-900"
        >
          404
        </Text>
        <Text
          tag="p"
          variant="textBase"
          class="mt-4 text-base-500 dark:text-base-400"
        >
          很抱歉，您所訪問的頁面不存在。
        </Text>
        <div class="mt-8">
          <Button isLink size="base" variant="default" href="/">
            返回首頁
          </Button>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
